#!/sbin/openrc-run

command=/usr/sbin/dtmd-daemon
pidfile=$(/usr/bin/dtmd-config --pidfile)
command_args=
name="removable media mount daemon"

depend()
{
	need localmount procfs dev udev
	use logger
	before xdm
	after bootmisc modules mtab
}
